{% extends 'base.html' %}
{% block title %}Beach Calendar{% endblock %}

{% block content %}
<div class="calendar-container">
    <h1>Beach Calendar - {{ month_name }} {{ year }}</h1>
    <table class="calendar table table-bordered">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
            <tr>
                {% for day in week %}
                <td class="{% if day and day.date == today.day %}today{% elif day and day.entries %}has-entries{% elif day and day.date < today.day %}no-entries{% else %}empty-day{% endif %}">
                    {% if day %}
                        <div class="date">
                            <a href="{% url 'add_entry' %}?date={{ today|date:"Y-m" }}-{{ day.date }}">{{ day.date }}</a>
                        </div>
                        {% if day.entries %}
                            <ul>
                                {% for entry in day.entries %}
                                <li>
                                    <a href="{% url 'entry_detail' entry.id %}">{{ entry.beach }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% elif day.date < today.day %}
                            <p>No entries</p>
                        {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}